{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
{% image self.testimonial_form_page_bg fill-1920x1080 as bg_img %}
<div class="testimonial-form-container flexed" style="background-image: url('{{ bg_img.url }}');">
    <h5 class="testimonial-page-title">{{ page.title }}</h5>
    <p class="testimonial-blurb">{{ self.intro|richtext }}</p>

    <form class="testimonial-form" action="/submit-testimonial/" method="POST">
        {{ form.as_ul }}
        {% csrf_token %}
        <input class="testimonial-form-submit-btn" type="submit">
          </form>

    

</div>
{% endblock content %}